<footer>
    <div class="container pt-3">
        <div class="row justify-content-center">
            <a href="" class="site-logo ">Blog-Site</a>
        </div>
        <div class="row justify-content-center mt-3">
            <ul class="nav ">
                <li class="nav-item">
                    <a href="#" class="nav-link">SPORTS</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link ml-3">DESIGN</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link ml-3">INSPIRATION</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link ml-3">FASHION</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link ml-3">GENERAL KNOWLEDGE</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link ml-3">POLITICS</a>
                </li>
            </ul>
        </div>
        <div class="row justify-content-center mt-3">
            <p>Copyright © 2024 Angular Blog Site</p>
        </div>
                
    </div>
</footer>